*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    justify-content: center;
    align-items: center;
}
body
{
    border: 3px solid white;
    background: linear-gradient(135deg, #0f0524, #3c096c, #7b2cbf, #c77dff);
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(199, 125, 255, 0.5);

}
.parent-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
    gap: 1rem;
    border: 5px solid white;
    
}

button {
    background: linear-gradient(to right, #ff69b4, #8a2be2);
    color: white;

    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease;
}
h1 {
    font-size: 3rem;
    font-weight: bold;

    background: linear-gradient(
        90deg,
        #ff69b4,
        #ffb3e6,
        #8a2be2,
        #ff69b4
    );

    background-size: 300% 100%;

    background-clip: text;
    

    color: transparent;
   

    animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 300%;
    }
}
    
input{
    border: 2px solid pink;
    border-radius:8px;
    padding: 10px;
}
p{
    color:white;
}

